<p id="notice"><%= notice %></p>

<div id="app" class="book-component">
</div>


<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Publication year:</strong>
  <%= @book.publication_year %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<%# ------ THIS IS IMPORT MAP SCRIPT (ES6) AND STYLE REFERENCE ----------- %>
<% content_for :head do %>
  <%= javascript_import_module_tag "esm/ui/books/book" %>
<% end %>
<%= stylesheet 'books/book' %>

